.bg{
    background-image: url(../assets/sort1.jpg);
    background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;    
}
.graphs{
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    /* background:linear-gradient(
        to bottom,
        rgb(0, 0, 0), 
        rgba(0, 0, 0, 0)    
      );  */
    min-height: 90vh;  
    transform: rotateX(180deg);
    
}
.graph {
    transition: height 0.3s ease; 
    background: linear-gradient(0deg, rgb(35, 218, 228) 30%, rgba(41,12,58,1) 100%);
    margin: 0.5px;
    display: "inline-block";
    margin-bottom: 50px;
    border-radius: 10px;
  }

  .graph.default {
    background: linear-gradient(0deg, rgba(35, 218, 228) 30%, rgba(41,12,58,1) 100%);
  }
  
  .graph.red {
    background: linear-gradient(0deg, rgb(229, 18, 21) 0%, rgba(58,12,29,1) 100%);
  }
  .graph.green{
    background: linear-gradient(0deg, rgb(36, 229, 18) 0%, rgba(58,12,29,1) 100%);
  }
/* .divider{
    margin: 0px 0px;
    height: 5px;
    background-color: #19ddeb56;
} */
.controls{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.btnn{
  background-color: #D15C1F;
  color: #FFFFFF; 
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.slider_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
}
.slider_div span{
    font-weight: bold;
    font-size: 15px;
    color: blanchedalmond;
}
.slider{
    width: 200px;
}