
.bg{
    background-image: url(../assets/sort1.jpg);
    background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;    
}
.graphs{
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    top: 0;
    min-height: 83vh;  
    margin-left: 5px;
    margin-right: 5px;
    transform: rotateX(180deg);
    
}
.graph {
    transition: height 0.3s ease; 
    background: linear-gradient(0deg, rgb(35, 218, 228) 30%, rgba(41,12,58,1) 100%);
    margin: 0.5px;
    display: "inline-block";
    /* margin-bottom: 50px; */
    border-radius: 10px;
  }

  .graph.default {
    background: linear-gradient(0deg, rgba(35, 218, 228) 30%, rgba(41,12,58,1) 100%);
  }
  
  .graph.red {
    background: linear-gradient(0deg, rgb(229, 18, 21) 0%, rgba(58,12,29,1) 100%);
  }
  .graph.green{
    background: linear-gradient(0deg, rgb(36, 229, 18) 0%, rgba(58,12,29,1) 100%);
  }

.sortop{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: -3px;
  margin-bottom: 0;
}
.algoname{
  color: white;
  display: flex;

  align-items: self-end;
  margin-left: 15vw;
}
.algoname p{
  font-size: 50px;
  margin-top: 33px;
}
.controls{
    margin-top: 60px;
    display: flex;
    justify-content: right;
    align-items: baseline;
    margin-top: 45px;
    padding: 8px;
}
.btnn {
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  height: 40px; 
  width: 57px;
  z-index: 0;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btnn::after,.btnn::before{
  content: ' ';
  border-radius: 5px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: rgb(173, 48, 121);
}
.btnn:hover{
  transform: scale(1.03);
  border: .5px solid cyan;
  color: cyan;
}

.btnn:hover::before{
  background-color: cyan;

  filter: blur(.5rem);
}



.slider_div{
  background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    align-items: center;
}
.slider_div span{
    font-weight: bold;
    font-size: 15px;
    color: blanchedalmond;
}
.slider{
    width: 200px;
}


/* css for range from google !! */
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    background-color: transparent;

    &:focus {
      outline-color: #f8b195;
    }
  }

  input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3px;
    background: rgb(246, 114, 128);
    background: -moz-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: -webkit-linear-gradient(
      left,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    background: linear-gradient(
      to right,
      rgba(246, 114, 128, 1) 0%,
      rgba(192, 108, 132, 1) 50%,
      rgba(53, 92, 125, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f67280",
      endColorstr="#355c7d",
      GradientType=1
    );
  }

  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #222
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
}


  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }

  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #f8b195;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: relative;
    bottom: 8px;
    background: #222
      url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
      center no-repeat;
    background-size: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: grab;
    
    &:active {
      cursor: grabbing;
    }
  }
