.back{
    /* background-image: url(../assets/sort1.jpg); */
    background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(26, 26, 26);
  min-height: 100vh;  
  padding: 1vh;
}
.box{
    display: inline-block;
    position: relative;
    width: 13.5vw;
    height: 22.5vh;
    margin: 0.5vh;
}
/* 1896x874 */
.box::before,.box::after{
    content: ' ';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    transition: background-color .2s ease, transform .2s ease;
}
/* before is begind the after hence oncly changed before and added filter blur */
.box:hover::before{ 
    z-index: 1; 
    background-color: cyan;
    filter: blur(.8rem);
}
.box:hover::after{
    z-index: 1;
    background-color: black;
    transform: scale(1.05);
}